.ui-layout-north {
				z-index: 100 !important;
				overflow: visible;
			}
			
			.ui-layout-north .ui-layout-unit-content {
				overflow: visible;
			}
			
			.ui-layout-south {
				font-size: 0.9em;
			}
			
			body{
				background-image: url(/resources/images/dark.jpg);
				background-color: green;
			}